  body {
            font-family: Arial, sans-serif;
            max-width: 600px;
            margin: 40px auto;
            padding: 20px;
            background-color: #e257833f;
        }
        .exercicio {
            background-color: #ee9cb6;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px #e25783;
        }
        input, button {
            padding: 8px;
            margin-top: 10px;
            font-size: 16px;
        }
        button {
            cursor: pointer;
            background-color: #e25783;
            color: #ffffff;
            border: none;
            border-radius: 4px;
        }
        button:hover {
            background-color: #e25783;
        }
        .resultado-box {
            margin-top: 15px;
            padding: 10px;
            background-color: #e2578371;
            border-left: 4px solid #e25783;
        }